.tbody {
    width: 640px;
    height: 480px;
    border: 15px solid green;
    padding: 50px;
    margin: 20 px;
}

.trow {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 5px;
}

#hname {
    font-style: italic;
    background-color: yellow;
}

#hsite {
    font-style: italic;
    background-color: blue;
}
